*{
   padding: 0;
   margin: 0;
}
body{
  font: 1em/1.6em "Roboto", Arial, Tahoma, sans-serif;
  color: #353535;
}

.container{
  max-width: 1000px;
   margin: 0 auto;
}
   .header__name, .header__disc,.content__anons-h1{
   text-align: center;
   text-transform: uppercase;
   font-weight: 300;
   }
.header{

   &__top{
      padding: 1px 0;
   }
   &--blackfon{
      background: url(images/blackfon.png);

   }

   &__name, &__disc{
   text-shadow: 1px 1px 3px #222;
   margin: 40px 0;
   }


   &__name{
      color: #ffc000;
      text-align: right;
      font-size: 90px;
      line-height: 90px;
      margin-bottom: 200px;
      padding: 0 140px 0 0;
   }
   &__disc{
      font-size: 48px;
      line-height: 48px;
      color: #fff;
   }
    &--crownfon{
      background: url(images/crownfon.png);
      
   }
   &__sub-counter{
      float: right;
      width: 48%;
   }
   &__sub-form{
      padding: 31px 25px 35px 25px;
      background: #ffcc00;
      text-align: center;
   }
   &__sub-zag{
      font-size: 30px;
      font-family: 'Roboto', sans-serif;
      color: #111;
      font-weight: lighter;
      text-transform: uppercase;
      margin-bottom: 22px;
   }
   &__sub-mail,&__sub-submit{
      width: 100%;
      padding: 15px 0;
      font-weight: 300;
      transition: .5s;
   }
   &__sub-mail{
      font-size: 20px;
      outline: none;
      line-height: 20px;
      text-indent: 20px;
      border: 1px solid #c7b900;
   }

   &__sub-mail:focus{
      border: 1px solid transparent;
      box-shadow: 0 0 7px #886600;
}
   &__sub-p{
      font-size: 20px;
      color: #111;
      font-weight: 300;

   }
   &__sub-submit{
      font-size: 30px;
      color: #fff;
      background: #b50000;
      text-transform: uppercase;
      border: none;
      line-height: 30px;
      text-shadow: 1px 1px 3px #700000;
      box-shadow: 1px 1px 3px #bb8800;
   }
   &__sub-submit:hover{
   background: #00778d;
   text-shadow: 1px 1px 3px #005b6c;
   box-shadow: 0px 0px 3px #9f7300;
}
&__sub-form{
   border: 5px solid rgba(255, 255, 255, 0.6);
   box-shadow: 1px 1px 3px #222;
   margin-top: -160px;
}
   &__border{
      border: 6px solid #fff;
   }
   &__box-img{
   width: 100%;
   height: auto;
   margin-top: -240px;
   }
   &__box{
      width: 50%
   }
   &__left{
      float: left;
   }
   &__taymer{
      text-align: center;
      margin-bottom: 53px;
   }
   &__taymer-p{
      font-size: 22px;
      margin: 40px 0;
      text-transform: uppercase;
   }
}
.content{
   background: url(images/grayfon.png);
   &__zag{
      background: #ffcc00;
      margin-bottom: 80px;
   }
   &__p{
      color: #111;
      font-size: 40px;
      line-height: 40px;
      text-align: center;
      font-weight: 300;
      padding: 30px 0;
      text-transform: uppercase;
   }
   &__anons{
      width: 49%;
      margin-bottom: 80px; 
   }
   &__anons:nth-child(even) {float: right;}
   &__anons:nth-child(odd) {float: left;}
   &__anons:hover{
   transform: rotate(360deg);
}
   &__anons-fon{
      background: #fff;
      border: 1px solid #bbb;
      height: 228px;
      overflow: hidden;

   }
   &__anons-number{
    width: 20%;
    height: 100%;
    padding-left: -3px;
    
    background-color: white;
 }
 &__anons-num-border{
   border-right: 1px solid #bbb;
   height: 227px;
   padding-top: 1px;
 }
 &__anons-num{
   background: #ffc000;
    border-radius: 50%;
    margin: 82px auto 0;
    width: 60px;
    height: 60px;
    text-align: center;
    border: 2px solid #fff;
    box-shadow: 1px 1px 3px #bbb;
    font-size: 44px;
    line-height: 60px;
    transition: 0.5s;
}
/*HOVER*/
&__anons:hover .content__anons-num{
   transform: rotate(360deg);
}
&__anons:hover .content__anons-img{
   top: 0;
   opacity: 0.9;

}


   &__anons-content{
   width: 80%;
   position: relative;
 }
 &__anons-text{
   padding: 40px 40px 0 40px;
 }

 &__anons-h1{
      text-align: left;
      font-size: 30px;
      margin-bottom: 20px;
      line-height: 30px;
      font-weight: 400;

 }
 &__anons-p{
      font-size: 18px;
      font-weight: 400;
      color: #333;
   }
   &__anons-img{
      position: absolute;
      top: 220px;
      transition: 0.5s;

   }
   &__anons-hover{
      vertical-align: middle;
      width: 100%;
      height: auto;
   }
 /*   &__anons-hover:hover{
   margin-top: -224px;
   transition: 0.5s;
   }*/

 &__footer-grapha{
      font-size: 30px;
      line-height: 40px;
      font-weight: normal;
      color: #111;
      text-transform: uppercase;
      text-align: center;
      margin: 0 0 80px 0;
   }
   &--footer-orange{
      color: #ff8a00;
   }
}







/*Общие стили*/
.left{
   float: left;
}
.right{
   float: right;
}






/*
&__anons-right{
   
   padding: 39px 20px 0 19px;
   width: 360px;
}*/

  
    /* font-size: 30px;
      color: #111;
      
      text-transform: uppercase;*/
  
  /* 
   }
   &__anons-hover{
   margin-top: -120px;
   }
   &__footer{
      padding: 0 0 80px 0;
      text-align: center;
   }
   &__footer-grapha{
      font-size: 30px;
      font-weight: normal;
      color: #111;
      text-transform: uppercase;
   }
   &--footer-orange{
      color: #ff8a00;
   }*/


 
  








.clearfix:before, .clearfix:after{
   content: "";
   display: table;
}
.clearfix:after{
   clear: both;
}


/*.clearfix:before{
   content: "";
   display: block;
   clear: both;
}*/   /*   -webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -o-transform: scale(1.1);*/